<html>
    <head>
        {{ form.media.css }}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

      <!-- To render script tags of select2 -->
      {{ form.media.js }}
    </head>
    <body>
        <p>Cadastrar Filme</p>
        <form action="/register" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Post">
        </form>
        <script>
            $(document).ready(function() {
               $('#id_movie_genres').select2();
            });
            </script>
    </body>
</html>