{% extends "base.html" %}

{% block show_movie %}
<div id="desc-container" class="d-flex flex-column p-5">
    <div class="movie-bg" style="background-image: url('https://www.syfy.com/sites/syfy/files/2019/05/john-wick-2017-image-3840x2400.jpg');">
        <div id="movie-overlay">
            <div class="movie-img d-flex w-50 align-items-center justify-content-center"><div class="img-img"></div>
            <div class="movie-desc d-flex w-25 align-items-center justify-content-center"><p>Nome do filme</p></div>
       </div>
    </div>
    </div>
</div>
{% endblock %}


<!-- style="background-image: url('{{ movie.poster }}');" -->
