{% extends "base.html" %}

{% block show_movie %}
<div id="desc-container" class="d-flex flex-column p-5">
    <div class="movie-bg" style="background-image: url('https://www.syfy.com/sites/syfy/files/2019/05/john-wick-2017-image-3840x2400.jpg');">
        <div id="movie-overlay">
            <div class="movie-img d-flex">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, iusto corporis? Odio eum fugiat corporis vitae debitis reprehenderit aut, dicta veritatis laudantium explicabo accusamus expedita possimus itaque adipisci sed repudiandae?</div>
            <div class="movie-desc d-flex">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quo unde eos officia natus, sint architecto qui veritatis repellendus, numquam quia necessitatibus commodi maiores tempora libero rem porro perferendis soluta.</div>
       </div>
    </div>
    </div>
</div>
{% endblock %}


<!-- style="background-image: url('{{ movie.poster }}');" -->
