{% extends "base.html" %}
{% block show_latest %}
{% load static %}

<div class="px-5 pt-4 text-light" style="margin-bottom: -1.5em;">
    <h2 class="fw-bold">Novidades</h2>
</div>

<div class="list-view p-5 d-flex flex-row">
    <div class="sidebar d-flex text-light">Here will be the filter/sort options</div>
    <div class="main-view d-flex p-2 flex-column">
        <div class="d-flex flex-row gap-4 flex-wrap">
            {% for movie in movies %}
                <!-- Div for the individual movies -->
                <a href="#" class="" style="text-decoration: none;">
                    <div class="list-view-card" style="background-image: url('{% static movie.poster %}');">
                    <div id="overlay">
                        <div>
                            <p>
                                <div class="text-truncate" style="max-width: 170px;">
                                    <span class="fw-bold lh-1 d-block">{{ movie.title }}</span>
                                    <span class="fw-light d-block">{{ movie.year|date:"Y" }}</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
                <!-- End div for the individual movies -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}