{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block show_movie %}
<div id="desc-container" class="d-flex flex-column">
    <div class="movie-bg" style="background-image: url('{% static movie.poster %}'); background-position: 50% 20%; z-index: 1;">
        <div id="movie-overlay">
            <div class="movie-img d-flex justify-content-center">
                <div class="img-img" style="background-image: url('{% static movie.poster %}');"></div>
            </div>
            <div class="movie-desc d-flex flex-column justify-content-center w-100">
                <h1 class="title w-100 text-break">{{ movie.title }}</h1>
                <p class="d-inline fw-normal text-break">
                    {{ movie.year|date:"Y" }} • {% for genre in movie.genre.all %} {% trans genre.name %} {% if not forloop.last %}, {% endif %} {% endfor %}</p>
                <div class="d-inline">
                    <button class="options-btn"><i class="fa-regular fa-bookmark"></i></button>
                    <button class="options-btn"><i class="fa-regular fa-heart"></i></button>
                    <button class="options-btn"><i class="fa-regular fa-star"></i></button>
                </div>
                <p class="fs-5 fw-bold">{% trans "Synopsis" %}</p>
                <p class="synopsis text-break ms-auto me-5"> {{ movie.synopsis }} </p>
            </div>
    </div>
    </div>
</div>
{% endblock %}