{% extends "config/base.html" %}

{% block login %}
<style>
    .lr-btn {
    color: #D3D3D3;
    border: none;
    transition: ease-in 0.2s;
}

.lr-btn:hover {
    background: #e5bbce;
    background-image: linear-gradient(45deg, #e5bbce, #646897);
    border: 1px solid #e5bbce;        
    transition: ease-in-out 0.2s;
    color: #13142b !important;
    font-weight: 500;
}
</style>
<div class="add-class container p-5">
    <div class="add-title">
        <h1 class="main-title">Login</h1>
    </div>
    <form action="{% url 'login' %}" method="post" enctype="multipart/form-data" id="add-form">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="submit" value="Entrar!" class="lr-btn align-self-center my-2 w-100">
    </form>
    <p>Ainda não possui uma conta? <a class="text-light fw-bold text-decoration-none" href="{% url 'register' %}">Registre-se</a>!</p>
</div>
{% endblock %}