{% block footer %}
    <footer class="d-flex flex-row text-light gap-5 justify-content-center align-items-center" style="background: rgb(51,51,102);
    background: linear-gradient(0deg, rgba(51,51,102,1) 9%, rgba(19,20,43,1) 100%); padding-top: 5em;">
        <div class="d-flex flex-column"><h3>Movie</h3><h3 style="color: #e5bbce;">Mate</h3></div>


        <div class="align-self-start py-5">
            <p class="d-inline fw-bold px-n3">SOBRE O PROJETO</p>
            <ul id="footer-links">
                <li><a href="">Sobre o MovieMate</a></li>
                <li><a href="">Suporte</a></li>
                <li><a href="">API</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
        <div class="align-self-start py-5">
            <p class="d-inline fw-bold">CONTRIBUA</p>
            <ul id="footer-links">
                <li><a href="">Adicionar um novo filme</a></li>
                <li><a href="">Adicionar uma nova série</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}