{% extends "base.html" %}
{% block index %}
{% load static %}
<body>
    <div id="container" class="w-100">
        <!-- Section 1 -->
        <section id="section-1" class="h-100 d-flex flex-row text-light">
            <div class="w-100 h-100 d-flex flex-column justify-content-center main-banner" style="background-size: cover;">
            
            <div class="d-flex flex-column align-items-center">
                <h1 style="font-family: 'Rethink Sans', sans-serif; font-weight: 800; font-size: 3em;">Bem vindo!</h1>
                <h5 style="font-family: 'Rethink Sans', sans-serif; font-weight: 700; font-size: 1.5em;">Explore nossa seleção e encontre o <span style="color: #e5bbce;">filme</span>  ou <span style="color: #e5bbce;">série</span> que vai mudar sua vida.</h5>
            </div>

            <!-- Form -->
            <div class="d-flex justify-content-center">
                <form class="row my-2 my-lg-0 mx-3 p-3 align-items-center" style="width: 60%;">
                    <div class="col">
                        <input class="form-control me-sm-2 text-dark bg-light p-2" type="search" placeholder="Procure por um filme, série ou pessoa..." aria-label="Search" style="background-color: transparent;">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-light my-2 my-sm-0" id="search-btn" type="submit">Buscar!</button>
                    </div>
                </form>
            </div>
            <!-- Fim form -->
            </div>
        </section>
        <!-- Section 1 -->


    <section id="section-2" class="d-flex flex-column" style="background-color: #13142b;">
        <div class="d-flex d-row pt-3">
            <h5 class="p-3 ms-5 text-light fw-bold fs-4">Novidades</h5>
            <div class="d-inline btn-group btn-group-toggle align-self-center mx-1" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1"> Filmes
                </label>
                <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> Séries
                </label>
            </div>
        </div>

        <div id="all-cards">
            <div id="visible-cards" class="d-flex flex-row gap-4 mx-5 overflow-hidden">
            {% for movie in movies|slice:":7" %}
                <a href="{% url 'movie-detail' movie.id %}" class="cards movie-card" style="background-image: url('{% static movie.poster %}'); text-decoration: none;">
                    <div id="overlay">
                        <p>{{ movie.title }}</p>
                    </div>
                </a>
            {% endfor %}
                <button class="d-flex more-btn btn text-light align-items-center justify-content-center fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                    Veja mais
                </button>     
            </div>

            <hr class="mt-5" style="color: white; width: 95%; margin: auto;">

            <div class="d-flex d-row">
                <div>
                    <h5 class="p-3 ms-5 text-light fw-bold fs-4">Em alta</h5>
                </div>
                <div class="d-inline btn-group btn-group-toggle align-self-center mx-1" data-toggle="buttons">
                    <label class="btn btn-secondary" id="btn-toggle">
                        <input type="radio" name="options" id="option1"> Filmes
                    </label>
                    <label class="btn btn-secondary" id="btn-toggle">
                    <input type="radio" name="options" id="option2"> Séries
                    </label>
                </div>
            </div>
    
            <div id="all-cards">
                <div id="visible-cards" class="d-flex flex-row gap-4 mx-5 overflow-hidden">
                    {% for serie in series|slice:":7" %}
                    <a href="{% url 'movie' %}" class="cards movie-card" style="background-image: url('{{ serie.poster }}');">
                        <div id="overlay">
                            <p>{{ serie.title }}</p>
                        </div>
                    </a>
                    {% endfor %}

                    <button class="d-flex more-btn btn text-light align-items-center justify-content-center fw-bold main-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                        Veja mais
                    </button>     
                </div>
            
                <hr class="mt-5" style="color: white; width: 95%; margin: auto;">

            <h5 class="p-3 ms-5 text-light fw-bold fs-4">Por gênero</h5>

            <div id="all-cards">
                <div id="visible-cards" class="d-flex flex-column overflow-hidden" style="margin-left: 3.7em;">
                    <div class="genre-wrapper d-flex flex-row gap-4 overflow-hidden">
                        <div class="cards-1 bg-light genre action">
                            <div id="overlay">
                                <p>Ação</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre adventure">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Aventura</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre comedy">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Comédia</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre documentary">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Documentário</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre drama">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Drama</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre western">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Faroeste</p>
                            </div>
                        </div>   
                    </div>
                    <div>.</div>
                    <div class="genre-wrapper d-flex flex-row gap-4 overflow-hidden">
                        <div class="cards-1 bg-light genre fantasy">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Fantasia</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre scifi">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Ficção Científica</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre mistery">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Mistério</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre musical">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Musical</p>
                            </div>
                        </div>
                        <div class="cards-1 bg-light genre romance">
                            <div id="overlay">
                                <img src="" alt="">
                                <p>Romance</p>
                            </div>
                        </div>
                        <button class="genre-btn btn text-light align-items-center justify-content-center fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                            Veja mais
                        </button>                         
                    </div>
                </div>
                </div>
                </div>
            
    </section>
    <script>
        // document.addEventListener('DOMContentLoaded', function() {
        var dropdownItems = document.querySelectorAll(".dropdown-menu .dropdown-item.text-light");
        var buttonGroup = document.querySelectorAll(".btn-secondary");
  
        dropdownItems.forEach(function(dropdownItem) {
            dropdownItem.addEventListener("click", function() {
                dropdownItems.forEach(function(item) {
                    item.classList.remove("fw-bold");
                    item.classList.remove("text-dark");
                    item.style.backgroundImage = "";
                });
                this.classList.add("fw-bold");
                this.classList.add("text-dark");
                this.style.backgroundImage = "linear-gradient(45deg, #e5bbce, #646897)";
            });
        });
 

            // buttonGroup.forEach(function(button){
            //     button.addEventListener("click", function(){
            //         buttonGroup.forEach(function(btn){
            //             btn.classList.remove("active");
            //         });
            //         button.classList.add("active");
            //     });
            // });
</script>
</body>
{% endblock %}