{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark d-flex" style="background: #13142b;">
    <a class="navbar-brand mx-5" href="{% url 'index' %}" style="font-family: 'Kalnia', sans-serif; font-weight: 700; font-size: 1.5em;">Movie<span style="color: #e5bbce;">Mate</span></a>
      <ul class="nav px-2 py-2">
        <li class="nav-item dropdown">
          <a class="nav-link link-light" href="{% url 'catalog:show_all_movies' %}" role="button" aria-haspopup="true" aria-expanded="false">
          Filmes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link-light" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Séries</a>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">Pessoas</a>
        </li>
      </ul>
      <ul class="nav px-2 py-2">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meu Perfil</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p class="px-3 pt-2 text-light">Olá, <span class="fw-bold">{{ user }}</span>!</p>
              <hr class="text-light">
              <!-- <a class="dropdown-item text-light" href="#"><i class="fa-regular fa-user me-2"></i>Meu perfil</a>
              <a class="dropdown-item text-light" href="#"><i class="fa-solid fa-list me-2"></i>Minhas listas</a> -->
              <a class="dropdown-item text-light" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Logout</a>
            </div>
          </li>
          {% else %}
          {% if not request.user.is_authenticated %}<a class="nav-link link-light" href="{% url 'register' %}">Criar Conta</a>
          <a class="nav-link link-light" href="{% url 'login' %}">Login</a>{% endif %}
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/register"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link-light add-icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-plus"></i></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{% url 'catalog:add_movie' %}">Adicionar novo filme</a>
            <a class="dropdown-item text-light" href="{% url 'catalog:add_show' %}">Adicionar nova série</a>
          </div>
        </li>
      </ul>
  </nav>
  {% endblock %}