{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark py" style="background: #13142b;">
    <a class="navbar-brand mx-5" href="{% url 'index' %}" style="font-family: 'Kalnia', sans-serif; font-weight: 700; font-size: 1.5em;">Movie<span style="color: #e5bbce;">Mate</span></a>
      <ul class="nav px-2 py-2">
        <li class="nav-item dropdown">
          <a class="nav-link link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filmes</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="#">Populares</a>
            <a class="dropdown-item text-light" href="#">Gêneros</a>
            <a class="dropdown-item text-light" href="#">Novidades</a>
            <a class="dropdown-item text-light" href="#">Em cartaz</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Séries</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="#">Em exibição</a>
            <a class="dropdown-item text-light" href="#">Novidades</a>
            <a class="dropdown-item text-light" href="#">Mais bem avaliadas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/register">Pessoas</a>
        </li>
      </ul>
      <ul class="nav px-2 py-2 ms-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link link-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meu Perfil</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p class="px-3 pt-2 text-light">Olá, <span class="fw-bold">{{ user }}</span>!</p>
              <hr class="text-light">
              <a class="dropdown-item text-light" href="#"><i class="fa-regular fa-user me-2"></i>Meu perfil</a>
              <a class="dropdown-item text-light" href="#"><i class="fa-solid fa-list me-2"></i>Minhas listas</a>
              <a class="dropdown-item text-light" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Logout</a>
            </div>
          </li>
          {% else %}
          {% if request.user.is_authenticated %}<a class="nav-link link-light" href="{% url 'register' %}">Criar Conta</a>
          <a class="nav-link link-light" href="{% url 'login' %}">Login</a>{% endif %}
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/register"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link-light add-icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-plus"></i></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" href="{% url 'add_movie' %}">Adicionar novo filme</a>
            <a class="dropdown-item text-light" href="{% url 'add_show' %}">Adicionar nova série</a>
          </div>
        </li>
      </ul>
      <form class="row my-2 my-lg-0 mx-3">
        <div class="col">
          <input class="form-control me-sm-2 text-light w-100" type="search" placeholder="Buscar filme, série ou pessoa" aria-label="Search" style="background-color: transparent;">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="color: #e5bbce; border: 1px solid #e5bbce;" id="search-btn">Pesquisar</button>
        </div>
       </form>
  </nav>
  {% endblock %}