{% extends "base.html" %}

{% block show_all_shows %}
{% load static %}
{% load i18n %}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    {{ form.media }}
</head>


<div class="px-5 pt-4 text-light" style="margin-bottom: -1.5em;">
    <h2 class="fw-bold">{% trans "All Shows" %}</h2>
</div>

<div class="list-view p-5 d-flex flex-row">
    <div class="sidebar d-flex text-light">
        <form method="get" action="{% url 'show-all-shows' %}" class="sidebar-form">
            <div class="form-group">
                <label for="name" class="fs-6 fw-bold py-1">{% trans "Title" %}</label>
                <input type="search" id="name" name="show_title" class="form-control" value="{{ request.GET.title }}" autocomplete="off" placeholder="{% trans 'Search by show title...' %}">
              </div>
              <div class="form-group">
                <label for="year" class="fs-6 fw-bold py-1">{% trans "Year" %}</label>
                <input type="search" id="year" name="show_year" class="form-control" value="{{ request.GET.year }}" autocomplete="off" placeholder="{% trans 'Search by release year...' %}">
              </div>
              <div class="form-group">
                <label for="genres" class="d-block fs-6 fw-bold py-1">{% trans "Genres" %}</label>
                <select id="id_show_genres" name="show_genres" class="form-control" value="{{ request.GET.show_genres }}" multiple="multiple">                    
                    <option value="Action">{% trans "Action" %}</option>
                    <option value="Adventure">{% trans "Adventure" %}</option>
                    <option value="Comedy">{% trans "Comedy" %}</option>
                    <option value="Documentary">{% trans "Documentary" %}</option>
                    <option value="Drama">{% trans "Drama" %}</option>
                    <option value="Western">{% trans "Western" %}</option>
                    <option value="Horror">{% trans "Horror" %}</option>
                    <option value="Fantasy">{% trans "Fantasy" %}</option>
                    <option value="Science-fiction">{% trans "Science Fiction" %}</option>
                    <option value="Mystery">{% trans "Mystery" %}</option>
                    <option value="Musical">{% trans "Musical" %}</option>
                    <option value="Romance">{% trans "Romance" %}</option>
                </select>
            </div>
            <div class="d-flex my-3 justify-content-center">
                <button type="submit" class="btn text-light btn-outline-light" id="search-btn">{% trans "Search"%}</button>
            </div>
            
        </form>
    </div>
    <div class="main-view d-flex p-2 flex-column">
        <div class="d-flex flex-row gap-4 flex-wrap">
            {% for show in shows %}
                <!-- Div for the individual shows -->
                <a href="{% url 'show-detail' show.id %}" class="" style="text-decoration: none;">
                    <div class="list-view-card" style="background-image: url('{{ show.poster.url }}');">
                    <div id="overlay">
                        <div>
                            <p>
                                <div class="text-truncate" style="max-width: 170px;">
                                    <span class="fw-bold lh-1 d-block">{{ show.title }}</span>
                                    <span class="fw-light d-block">{{ show.year }}</span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
                <!-- End div for the individual shows -->
                {% empty %}
                <p class="text-light">{% trans "No results found." %}</p>
            {% endfor %}

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
           $('#id_show_genres').select2();
        });
    </script>
</div>
{% endblock %}