{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block show_show %}
<div id="desc-container" class="d-flex flex-column">
    <div class="show-bg" style="background-image: url('{{ show.poster.url }}')">
        <div id="show-overlay">
            <div class="show-img d-flex justify-content-center">
                <div class="img-img" style="background-image: url('{{ show.poster.url }}');"></div>
            </div>
            <div class="show-desc d-flex flex-column justify-content-center w-100">
                <h1 class="title w-100 text-break">{{ show.title }}</h1>
                <p class="d-inline fw-normal text-break">
                    {{ show.year }} • {% for genre in show.genre.all %}{% trans genre.name %}{% if not forloop.last %}, {% endif %} {% endfor %}
                    
                </p>
                <div class="d-inline">
                    <button class="options-btn"><i class="fa-regular fa-bookmark"></i></button>
                    <button class="options-btn"><i class="fa-regular fa-heart"></i></button>
                    <button class="options-btn"><i class="fa-regular fa-star"></i></button>
                </div>
                <div>
                    <p class="fs-5 fw-bold">{% trans "Synopsis" %}</p>
                    <p class="synopsis text-break ms-auto me-5"> {{ show.synopsis }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}